/* Estilo para manter os elementos em linha */
.category-slider__card-item-wrap {
    display: inline-block;
    margin-right: 50px; /* Adicione margem direita para separar os elementos */
   
}
.category-slider__menu{
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* CSS para centralizar a imagem e alinhar o nome corretamente */
.category-slider__card-item-wrap {
    text-align: center; /* Centraliza a imagem */
}

.category-slider__card-img-wrap {
   
    display: flex;
    align-items: center; /* Alinha verticalmente o conteúdo */
    justify-content: center; /* Alinha horizontalmente o conteúdo */
}

.category-slider__card-title-wrap {
    text-align: center; /* Centraliza o título */
    text-decoration: none;
    margin-bottom: 20px;
}
.category-slider__card-title-wrap:hover {
    transform: scale(1.1);
    transition: 0.5s;
   

}