* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
main{
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: 1150px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container .cardA{
    position: relative;
    padding: 10px;
    width: 300px;
    height: 100%;
    background-color: rgb(238, 233, 233);
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.7s;
    text-align: center;
   
}
.container .cardA img{
    position: center;
    width: 100%;
    transition: 0.7s;
}
.container .cardA h1{
    font-size: 2rem;
}
.container .cardA .content{
    padding: 20px;
    text-align: center;
}
.container .cardA .container p{
    color: white;
    transition: 0.7s;
}
.container .cardA .content button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: blanchedalmond;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.7s;
    outline: none;
    margin-top: 20px;
}

.container .cardA:hover {
    background-color: rgb(129, 134, 129);
    color: white;
    margin-top: -30px;
    box-shadow: 5px 25px 30px grey;
    border-color: rgb(51, 51, 51);
}

.container .cardA:hover .content p {
    color: white;
}

.container .cardA:hover .content a {
    color: black;
    
}